<?xml version="1.0"?>
<config>
    <modules>
        <DM_Cloudflare>
            <version>1.0.0</version>
        </DM_Cloudflare>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <DM_Cloudflare before="Mage_Adminhtml">DM_Cloudflare_Adminhtml</DM_Cloudflare>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <dm_cloudflare>
                <class>DM_Cloudflare_Model</class>
            </dm_cloudflare>
        </models>
    </global>
    <adminhtml>
        <events>
            <controller_action_postdispatch_adminhtml_cache_flushAll>
                <observers>
                    <dm_cloudflare>
                        <type>singleton</type>
                        <class>dm_cloudflare/observer</class>
                        <method>purgeCache</method>
                    </dm_cloudflare>
                </observers>
            </controller_action_postdispatch_adminhtml_cache_flushAll>
            <controller_action_postdispatch_adminhtml_cache_flushSystem>
                <observers>
                    <dm_cloudflare>
                        <type>singleton</type>
                        <class>dm_cloudflare/observer</class>
                        <method>purgeCache</method>
                    </dm_cloudflare>
                </observers>
            </controller_action_postdispatch_adminhtml_cache_flushSystem>
            <core_block_abstract_to_html_after>
                <observers>
                    <dm_cloudflare>
                        <type>singleton</type>
                        <class>dm_cloudflare/observer</class>
                        <method>injectHtml</method>
                    </dm_cloudflare>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </adminhtml>
</config>
