<?xml version="1.0"?>
<config>
	  <tabs>
		<general translate="label" module="cloudflare">
            <label>General</label>
            <sort_order>0</sort_order>
        </general>
	  </tabs>
	  <sections>
		<general  translate="label" module="cloudflare">            
					<groups>
				      <cf_group translate="label"> 
					  <label>CloufFlare</label>
					  <frontend_type>text</frontend_type>
					  <sort_order>0</sort_order>
					  <show_in_default>1</show_in_default>
					  <show_in_website>1</show_in_website>
					  <show_in_store>1</show_in_store>
				       <fields>
                          <cf_api translate="label">
                            <label>Cloud Flare API</label>
							<frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </cf_api>
                          <cf_email translate="label">
                            <label>Cloud Flare Email</label>
							<frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </cf_email>
					   </fields>
					   </cf_group>
					</groups>
		</general>
	  </sections>
</config>
